In [22]:
import pandas as pd
from fastai.vision import *
import fastai.vision as fv
import torch

In [19]:
train_on_gpu = torch.cuda.is_available()
gpu_info = !nvidia-smi
gpu_info = '\n'.join(gpu_info)

if not train_on_gpu:
    print('CUDA is not available.  Training on CPU ... To use GPU, go under edit > notebook settings')
else:
    print('CUDA is available!  Training on GPU ...')
    print(gpu_info)

CUDA is available!  Training on GPU ...
Mon Nov 15 13:22:27 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 440.100      Driver Version: 440.100      CUDA Version: 10.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  GeForce GTX 1080    Off  | 00000000:01:00.0  On |                  N/A |
|  0%   51C    P8     9W / 180W |    455MiB /  8116MiB |      3%      Default |
+-------------------------------+----------------------+----------------------+
|   1  GeForce GTX 1080    Off  | 00000000:02:00.0 Off |                  N/A |
|  0%   37C    P8     5W / 180W |     12MiB /  8119MiB |      0%      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|    0      1444      G   /usr/lib/xorg/Xorg                            18MiB |
|    0      1882      G   /usr/bin/gnome-shell                          68MiB |
|    0      6074      G   /usr/lib/xorg/Xorg                           157MiB |
|    0      6233      G   /usr/bin/gnome-shell                         168MiB |
|    0      9469      G   /usr/lib/firefox/firefox                       1MiB |
|    0     10733      G   /usr/lib/firefox/firefox                       1MiB |
|    0     16960      G   /opt/teamviewer/tv_bin/TeamViewer             13MiB |
|    0     17869      G   /usr/lib/firefox/firefox                       1MiB |
|    0     18241      G   /usr/lib/firefox/firefox                       1MiB |
|    0     18279      G   /usr/lib/firefox/firefox                       1MiB |
|    0     24163      G   /usr/lib/firefox/firefox                       1MiB |
+-----------------------------------------------------------------------------+

In [3]:
category_list = []
image_path_list = []
data_type_list = []
# category names
with open('/media/pavan/datasets/deepfashion/Anno/list_category_cloth.txt', 'r') as f:
    for i, line in enumerate(f.readlines()):
        if i > 1:
            category_list.append(line.split(' ')[0])

# category map
with open('/media/pavan/datasets/deepfashion/Anno/list_category_img.txt', 'r') as f:
    for i, line in enumerate(f.readlines()):
        if i > 1:
            image_path_list.append([word.strip() for word in line.split(' ') if len(word) > 0])


# train, valid, test
with open('/media/pavan/datasets/deepfashion/Eval/list_eval_partition.txt', 'r') as f:
    for i, line in enumerate(f.readlines()):
        if i > 1:
            data_type_list.append([word.strip() for word in line.split(' ') if len(word) > 0])

In [8]:
data_df = pd.DataFrame(image_path_list, columns=['image_path', 'category_number'])
data_df['category_number'] = data_df['category_number'].astype(int)
data_df = data_df.merge(pd.DataFrame(data_type_list, columns=['image_path', 'dataset_type']), on='image_path')
data_df['category'] = data_df['category_number'].apply(lambda x: category_list[int(x) - 1])
data_df = data_df.drop('category_number', axis=1)
data_df.head()

                                        image_path dataset_type category
0  img/Sheer_Pleated-Front_Blouse/img_00000001.jpg        train   Blouse
1  img/Sheer_Pleated-Front_Blouse/img_00000002.jpg        train   Blouse
2  img/Sheer_Pleated-Front_Blouse/img_00000003.jpg          val   Blouse
3  img/Sheer_Pleated-Front_Blouse/img_00000004.jpg        train   Blouse
4  img/Sheer_Pleated-Front_Blouse/img_00000005.jpg         test   Blouse

In [10]:
del category_list, image_path_list, data_type_list
len(data_df)

289222

In [11]:
data_df[['image_path','dataset_type']].groupby('dataset_type').count()

              image_path
dataset_type
test               40000
train             209222
val                40000

In [12]:
len(data_df.category.unique())

46

In [13]:
data_df[['image_path','category']].groupby('category').count()

             image_path
category
Anorak              160
Blazer             7495
Blouse            24557
Bomber              309
Button-Down         330
Caftan               54
Capris               77
Cardigan          13311
Chinos              527
Coat               2120
Coverup              17
Culottes            486
Cutoffs            1669
Dress             72158
Flannel             324
Gauchos              49
Halter               17
Henley              716
Hoodie             4048
Jacket            10467
Jeans              7076
Jeggings            594
Jersey              748
Jodhpurs             45
Joggers            4416
Jumpsuit           6153
Kaftan              126
Kimono             2294
Leggings           5013
Onesie               70
Parka               676
Peacoat              97
Poncho              791
Robe                150
Romper             7408
Sarong               32
Shorts            19666
Skirt             14773
Sweater           13123
Sweatpants         3048
Sweatshorts        1106
Tank              15429
Tee               36887
Top               10078
Trunks              386
Turtleneck          146

In [31]:
# img_base_path = Path("Img/")
# data = ImageDataBunch.from_df(img_base_path, training_df, ds_tfms=get_transforms(), size=150)
root_path = '/media/pava/datsets/deepfashion/Img/img'
train_image_list = ImageList.from_df(df=data_df, path=root_path, cols='image_path').split_by_idxs(
    (data_df[data_df['dataset_type']=='train'].index),
    (data_df[data_df['dataset_type']=='val'].index)).label_from_df(cols='category')
test_image_list = ImageList.from_df(df=data_df[data_df['dataset_type'] == 'test'], path=root_path, cols='image_path')

data = train_image_list.transform(get_transforms(), size=224).databunch(bs=128).normalize(imagenet_stats)
data.add_test(test_image_list)
data.show_batch(rows=3, figsize=(8,8))

NameError: name 'ImageList' is not defined